# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# IDE
.vscode/
.idea/

# Data & models
data/
datasets/
*.pth
*.pt
*.ckpt

# Logs
logs/
runs/

.kiro/
.hypothesis/
outputs/*.pth
cifar-10-batches-py/data_*_*
cifar-10-batches-py/test_*
cifar-10-batches-py/*.meta
cifar-10-batches-py/*.html